.form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.form__label {
  .font-size(14, 18);
  .line-height(18, 24);
  margin-bottom: 10px;
  color: @color-black-original;
  font-weight: 500;
}

.form__input,
.form__comments {
  .font-size(16, 20);
  .line-height(20, 26);
  padding: 15px 20px;
  background-color: @color-light-gray;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;

  &::placeholder {
    color: rgba(@color-gray, 0.7);
  }

  & + .form__validation-note {
    opacity: 0;
    color: @color-red;
    font-size: 14px;
    margin-top: -17px;
    margin-bottom: 5px;
    .transition();

    &--phone {
      opacity: 1;
    }
  }
}

.form__comments {
  min-height: 60px;
  max-width: 100%;
  min-width: 100%;
  max-height: 150px;
}

.form__link {
  color: inherit;
}

.form__text-muted {
  color: rgba(@color-gray, 0.7);
}

.form__text {
  margin-top: 0;
  color: rgba(@color-gray, 0.7);
  .font-size(12, 16);
  .line-height(16, 22);
  margin-bottom: 15px;
}

@media @desktop {
  .form__submit {
    align-self: center;
  }

  .form__input,
  .form__comments {
    font-size: 20px;
    line-height: 26px;
  }

  .form__label {
    font-size: 18px;
    line-height: 24px;

    &--checkbox {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .form__comments {
    max-width: 440px;
  }

  .form__link {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  .form__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}
